<div class="section_1">
    <div class="pad">
        <div class="flex-content">
            <div class="S1-left">  
                <img src="{{ url_for('static', filename='kindprog.png') }}" alt="Imagen de un Programador" width="750" >
            </div>
            <div class="S1-right">
                <h2>Presentacion:</h2>
                <p>Mi nombre es <b>Gonzalo</b>, estudio desarrollador web con el objetivo de convertirme en 
                    Full Stack Development.<br>
                    Mis conocimientos en programacion los he adquiridos en su mayoria por mediante medios gratuitos, <i>freeCodeCamp</i>, 
                    otras veces comprando algun curso en <i>Udemy</i>.
                </p>  
            </div>
        </div>
    </div>
</div>
    