<div class="section_3">
    <div class="pad">
        <div class="S3-title"><h2>GitHub <i class="fa-brands fa-github"></i></h2></div>
        
        <div class="flex-content-3">
            
            <div class="card third">
                <h3>Mailer App</h3>
                <p>Una aplicacion que envia correos mediante la API de Sengrid.</p>
                <a href="#" class="link">Link aqui</a>
            </div>

            <div class="card third">  
                <h3>Gestor de Clientes</h3>
                <p>Una aplicacion para la gestion de clientes.</p>
                <a href="#" class="link">Link aqui</a>
            </div>

            <div class="card third">  
                <h3>Gestor de Tareas</h3>
                <p>Una aplicacion para la gestion de tareas.</p>
                <a href="#" class="link">Link aqui</a>
            </div>
            <div class="card third">
                <h3>Projecto </h3>
                <p>Contenido</p>
                <a href="#" class="link">Link aqui</a>
            </div>
            <div class="card third">
                <h3>Projecto </h3>
                <p>Contenido</p>
                <a href="#" class="link">Link aqui</a>
            </div>
            <div class="card third">
                <h3>Todos los Proyectos </h3>
                <p>Carpeta Publica</p>
                <a href="https://github.com/Raz1945/Portfolio" class="link" target="_blank">Link aqui</a>
            </div>
                                    
        </div>
    </div>
</div>
