
<div class="section_2">
    <div class="pad">
        <div class="flex-center-2">
            <div class="flex-content-2">
                <div class="S2-left box-2">
                    <h2>Todo a su debido tiempo</h2>
                    <p>Constantemente me encuentro aprendiendo nuevas tegnologias y desarrollando aplicaciones por placer.
                        <br>
                        Y aunque me queda mucho por conocer de este mundo de la programacion, ire aprendiendo todo a su debido tiempo.
                    </p>
                    <br>
                    <br>

                    <div class="S2-list">
                        <h3>Estos son algunos de los lenguajes que he aprendido:</h3>
                        <ul>
                            <li class="item-list"><i class="fa-brands fa-python fa-lg"></i>  Python</li>
                            <li class="item-list"><i class="fa-solid fa-pepper-hot fa-lg" ></i> Flask</li>
                            <li class="item-list"><i class="fa-brands fa-html5 fa-lg"></i> HTML</li>
                            <li class="item-list"><i class="fa-brands fa-css3 fa-lg"></i> CSS</li>
                            <li class="item-list"><i class="fa-brands fa-js fa-lg"></i> JavaScript</li>
                            <li class="item-list"><i class="fa-solid fa-database"></i> MySQL</li>
                        </ul>
                    </div>
                </div>
                <div class="S2-right">
                    <img src="static/img2.png" width="400" alt="">
                    <h2>Proyecto Porfolio</h2>
                    <p>La idea de este proyecto es demostrar los conocimientos adquiridos, mediante la exhibicion
                        de pequeños proyectos y la confeccion misma de la web.</p>
                    <p>Esta web tiene sus bases en <i>Python</i> y <i>Flask!</i></p>
                </div>
            </div>
        </div>
    </div>
</div>
