<div class="section_1">
    <div class="pad">
        <div class="flex-content">
            <div class="S1-right">
                <h2>Excelente! correo enviado!</h2>
                <p>Un grupo de monos entrenados está revisando tu correo ahora mismo... mentira... no estan entrenados.
                    Pero te constestaran dentro de poco!
                </p>  
            </div>
            <div class="S1-left">  
                <img src="{{ url_for('static', filename='kindprog.png') }}" alt="Imagen de un Programador" width="750" >
            </div>
        </div>
    </div>
</div>
    